.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App main {
  background-color: aliceblue;
  color: black;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App main ul {
  margin-bottom: 3rem;
  width: 40%;

  border-radius: 50px;
  list-style: none;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}

.App main ul li {
  margin: 1rem 1rem 1rem 0;
  display: flex;
  justify-content: space-between;
}

.App main ul li div {
  display: flex;
  align-items: center;
  width: 50%;
  height: 50px;
}

.App main ul li button {
  width: 100px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 1px 5px black;
}

.App main ul li label {
  background-color: aliceblue;
}

.App header {
  background-color: #61dafb;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App footer {
  background-color: #61dafb;
  width: 100%;
  height: 40px;
  display: grid;
  place-content: center;
  position: fixed;
  bottom: 0;
}
